:root {
  --primary-font: "Work Sans", sans-serif;
  --auxiliary-font: "Inter", sans-serif;

  --violet: #8b5fbf;
  --blue: #305371;
  --grey: #c4c4c4;
  --white: #ffffff;
  --inputs: #e9e9e9;
  --black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  color: var(--white);
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul li {
  list-style: none;
}

/* Navbar */

header {
  max-height: 110px;
  background-color: var(--violet);
}

.navbar {
  margin: 0 auto;
  padding: 0 calc(30vw - 100px);
  min-height: 89px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__logo {
  flex: 1;
}

.navbar__links--bars {
  display: block;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

.navbar__links,
.form__popup {
  display: none;
}

.out {
  display: flex;
  align-self: flex-end;
  padding: 22.5px calc(27.5vw - 100px);
}

.out button {
  position: relative;
  top: 5%;
  display: block;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

.showing {
  background-color: var(--violet);
  position: fixed;
  display: flex;
  width: 85vw;
  height: 100vh;
  top: 0;
  left: 15%;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition: all 1s ease-out;
}

.showing ul li {
  font-size: 14px;
  line-height: 15px;
  margin: 5rem auto;
}

.navbar__cta {
  background-color: transparent;
  color: var(--white);
  font-family: var(--auxiliary-font);
  border: 2px solid var(--white);
  border-radius: 20px;
  width: 115px;
  height: 48px;
  left: 172px;
  top: 269px;
  cursor: pointer;
}

/* Hero */

.hero__img {
  position: relative;
  min-width: 375px;
  min-height: 433px;
  left: 0px;
  width: 100%;
  height: auto;
  background-image: url("../assets/hero_background_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__img h1 {
  position: absolute;
  width: 296px;
  height: 218px;
  left: calc(50% - 296px / 2 + 0.5px);
  top: 61px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0;
  padding: 0px calc(30vw - 100px);
  overflow-x: scroll;
  scrollbar-width: none;
}

.card {
  width: 206px;
  height: 299px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 12px var(--violet);
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
}

.card p {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black);
  margin: 20px 0;
}

/* Content */

.content {
  padding: 0 calc(30vw - 100px);
}

.content div {
  max-width: 539px;
}

.content figure {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content p {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--black);
  margin-bottom: 15px;
}

/* Form */

.form {
  background-color: #f3f3f3;
  height: 652px;
}

.form form {
  max-width: 738px;
  min-height: 459px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.form div {
  height: 100%;
  display: grid;
  place-content: center;
}

.form h3 {
  color: var(--blue);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 40px 0;
}

.form input {
  width: 278px;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  margin: 9px;
  background-color: var(--inputs);
  border-radius: 5px;
  border: none;
  font-family: var(--primary-font);
}

.form button {
  border: none;
  font-family: var(--auxiliary-font);
  height: 48px;
  width: 115px;
  color: var(--white);
  background-color: var(--violet);
  border-radius: 20px;
  font-size: 12px;
  line-height: 16px;
  margin: 54px auto;
}

.footer {
  background-color: #c4c4c4;
  height: 76px;
  margin: 0 auto;
  padding: 0 calc(30vw - 100px);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .navbar__links--bars,
  .out {
    display: none;
  }

  .navbar__links {
    display: flex;
    margin: 5px 0;
  }

  .navbar__links ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__links ul li {
    font-size: 14px;
    line-height: 15px;
    margin: 0 15px;
  }

  .content {
    margin-top: 118px;
    color: var(--black);
    display: flex;
    padding: 0px calc(30vw - 100px);
  }

  .content figure {
    margin: 0 59px 55px 0;
    display: flex;
    justify-content: center;
  }

  .form__popup {
    display: block;
    position: fixed;
    top: 50%;
    z-index: 1;
    margin: 0 auto;
  }

  .form__popup div {
    display: none;
  }

  .form__popup.active form {
    background-color: var(--grey);
    position: relative;
    top: 25%;
    z-index: 1;
    margin: 0 auto;
  }

  .form__popup.active form {
    display: block;
    max-width: 738px;
    min-height: 459px;
    background: var(--white);
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 18px;
  }

  .form__popup.active div {
    height: 100%;
    display: grid;
    place-content: center;
  }

  .form__popup.active h3 {
    color: var(--blue);
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 40px 0;
  }

  .form__popup.active input {
    width: 278px;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    margin: 9px;
    background-color: var(--inputs);
    border-radius: 5px;
    border: none;
    font-family: var(--primary-font);
  }

  .form__popup.active button {
    border: none;
    font-family: var(--auxiliary-font);
    height: 48px;
    width: 115px;
    color: var(--white);
    background-color: var(--violet);
    border-radius: 20px;
    font-size: 12px;
    line-height: 16px;
    margin: 54px auto;
  }

  .form__popup.active span {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form span {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .hero__img {
    min-width: 1920px;
    min-height: 559px;
    width: 100%;
    height: auto;
    background-image: url("../assets/hero_background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__img h1 {
    position: absolute;
    width: 732px;
    height: 218px;
    left: 594px;
    top: 170px;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .cards {
    padding: 0px calc(35.5vw - 100px);
  }
}
